<style>
@import url(http://fonts.googleapis.com/css?family=Bitter|Source+Code+Pro|Montserrat:400,700);

body {
	font-family: 'Bitter', sans-serif !important;
	font-size: 12px !important;
	line-height: 30px !important;
	font-weight: 400 !important;
	color: #8d8d8d !important;
}

#notebook-container {
	-webkit-box-shadow: none;
	box-shadow: none;
}


p {
	font-family: 'Bitter', sans-serif !important;
	font-size: 14px !important;
	line-height: 30px !important;
	font-weight: 400 !important;
	color: #8d8d8d !important;
}

li {
	font-family: 'Bitter', sans-serif !important;
	font-size: 13px !important;
	line-height: 30px !important;
	font-weight: 400 !important;
	color: #536884 !important;
}

code {
	font-family: 'Source Code Pro', sans-serif !important;
	font-size: 16px !important;
}

pre {
	font-family: 'Source Code Pro', sans-serif !important;
	font-size: 10px !important;
}

div.input_area {
	border: none !important;
	background: whitesmoke !important;
}
<style>
